ai-bot-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [450, 300],
      "webhookId": "evolution-webhook-ai"
    },
    {
      "parameters": {
        "options": {
          "ignoreBots": false
        },
        "url": "={{$env.OLLAMA_URL || 'http://ollama:11434/api/chat'}}",
        "requestMethod": "POST",
        "headers": {
          "Content-Type": "application/json"
        },
        "jsonParameters": true,
        "body": {
          "model": "llama3",
          "messages": [
            {
              "role": "system",
              "content": "Você é um assistente de vendas profissional. Responda de forma clara e objetiva."
            },
            {
              "role": "user",
              "content": "={{$input.all()}}"
            }
          ]
        }
      },
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "evolutionApi": "evolution-api-credentials"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
