rules-bot-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "options": {},
        "responseHeaders": {
          "X-Webhook-Secret": "={{$env.EVOLUTION_WEBHOOK_SECRET}}"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [450, 300],
      "webhookId": "evolution-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Normalize message and extract data\nconst normalized = message\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .trim();\n\n// Get tenant config\nconst tenant = await $workflow.getTenantConfig(contact);\n\n// Check for human agent request\nconst humanKeywords = ['atendente', 'humano', 'pessoa', 'falar com alguém'];\nconst wantsHuman = humanKeywords.some(keyword => normalized.includes(keyword));\n\nreturn { \n  normalized,\n  tenant,\n  contact,\n  wantsHuman\n};"
      },
      "name": "Process Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Process Message\"].json[\"normalized\"]}}",
              "operation": "contains",
              "value2": "ola"
            }
          ]
        },
        "options": {}
      },
      "name": "Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Process Message\"].json[\"normalized\"]}}",
              "operation": "contains",
              "value2": "preco"
            }
          ]
        },
        "options": {}
      },
      "name": "Price?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Process Message\"].json[\"normalized\"]}}",
              "operation": "contains",
              "value2": "pagamento"
            }
          ]
        },
        "options": {}
      },
      "name": "Payment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Process Message\"].json[\"normalized\"]}}",
              "operation": "contains",
              "value2": "atendente"
            }
          ]
        },
        "options": {}
      },
      "name": "Human?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "options": {},
        "text": "Olá! Bem-vindo à {{$node[\"Process Message\"].json[\"tenant\"].company}}. Como podemos ajudar?",
        "additionalFields": {}
      },
      "name": "Greeting Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "evolutionApi": "evolution-api-credentials"
      }
    },
    {
      "parameters": {
        "options": {},
        "text": "Aqui estão nossos preços:\n\n- Serviço Básico: R$ 100\n- Serviço Premium: R$ 200\n\nDeseja agendar?",
        "additionalFields": {}
      },
      "name": "Price Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "evolutionApi": "evolution-api-credentials"
      }
    },
    {
      "parameters": {
        "options": {},
        "text": "Para pagamento, acesse este link: {{$node[\"Process Message\"].json[\"tenant\"].paymentLink}\n\nOu envie PIX para: {{$node[\"Process Message\"].json[\"tenant\"].pixKey}",
        "additionalFields": {}
      },
      "name": "Payment Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "evolutionApi": "evolution-api-credentials"
      }
    },
    {
      "parameters": {
        "options": {},
        "text": "Um atendente será contactado em breve. Por favor, aguarde.",
        "additionalFields": {}
      },
      "name": "Human Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 500],
      "credentials": {
        "evolutionApi": "evolution-api-credentials"
      }
    },
    {
      "parameters": {
        "options": {},
        "text": "Desculpe, não entendi. Por favor, escolha uma opção:\n1 - Preços\n2 - Agendamento\n3 - Pagamento\n4 - Falar com atendente",
        "additionalFields": {}
      },
      "name": "Fallback Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 600],
      "credentials": {
        "evolutionApi": "evolution-api-credentials"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Greeting?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Price?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting?": {
      "main": [
        [
          {
            "node": "Greeting Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price?": {
      "main": [
        [
          {
            "node": "Price Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment?": {
      "main": [
        [
          {
            "node": "Payment Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human?": {
      "main": [
        [
          {
            "node": "Human Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
