workflows/05_roteamento_multi_cliente.json
{
  "name": "SaaS Multi-Cliente (Comando Geral e Segurança)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-global",
        "options": {}
      },
      "name": "Webhook (Global)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": "APP_ID",
        "table": "Comando_Geral",
        "filterByFormula": "={NomeInstancia} = '{{$json.body.instance}}'"
      },
      "name": "Airtable (Painel Comando Geral)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.StatusPagamento}}",
              "value2": "LIGADO"
            }
          ]
        }
      },
      "name": "Assinatura Paga?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "url": "URL_DA_EVOLUTION_API/message/sendText/{{$node[\"Webhook (Global)\"].json.body.instance}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$node[\"Webhook (Global)\"].json.body.data.from}}"
            },
            {
              "name": "text",
              "value": "Este sistema de atendimento encontra-se temporariamente indisponível. Por favor, contate o administrador (Código: Falha de Assinatura)."
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SuaSenhaForteDaAPI123!"
            }
          ]
        }
      },
      "name": "Alerta de Bloqueio (Inadimplente)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 450]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "PromptFinalInjetado",
              "value": "={{$node[\"Airtable (Painel Comando Geral)\"].json.PromptBase}}\n\nATENÇÃO, USE ESTES PREÇOS (Atualizado via Comando Geral):\n{{$node[\"Airtable (Painel Comando Geral)\"].json.TabelaPrecos}}\n\nDATAS FECHADAS/FERIADOS:\n{{$node[\"Airtable (Painel Comando Geral)\"].json.FeriadosBloqueados}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Injeção Dinâmica (Variáveis)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [800, 150]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "content": "={{$json.PromptFinalInjetado}} O cliente disse: {{$node[\"Webhook (Global)\"].json.body.data.text.message}}",
              "role": "system"
            }
          ]
        }
      },
      "name": "OpenAI (IA Inteligente)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "url": "URL_DA_EVOLUTION_API/message/sendText/{{$node[\"Webhook (Global)\"].json.body.instance}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{$node[\"Webhook (Global)\"].json.body.data.from}}"
            },
            {
              "name": "text",
              "value": "={{$node[\"OpenAI (IA Inteligente)\"].json.message.content}}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SuaSenhaForteDaAPI123!"
            }
          ]
        }
      },
      "name": "Responde WhatsApp Oficial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1300, 150]
    }
  ],
  "connections": {
    "Webhook (Global)": {
      "main": [
        [
          {
            "node": "Airtable (Painel Comando Geral)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable (Painel Comando Geral)": {
      "main": [
        [
          {
            "node": "Assinatura Paga?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assinatura Paga?": {
      "main": [
        [
          {
            "node": "Injeção Dinâmica (Variáveis)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta de Bloqueio (Inadimplente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Injeção Dinâmica (Variáveis)": {
      "main": [
        [
          {
            "node": "OpenAI (IA Inteligente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (IA Inteligente)": {
      "main": [
        [
          {
            "node": "Responde WhatsApp Oficial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
