workflows/vendedor_autonomo_n8n.json
{
  "name": "Vendedor Autonomo WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Recebe msg WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "sheetId": "SUA_SHEET_ID",
        "range": "Memoria!A:F",
        "lookupColumn": "Telefone",
        "value": "{{ $json.from }}"
      },
      "id": "gsheet-search",
      "name": "Busca estado lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.results }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "if-new-lead",
      "name": "É novo lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "sheetId": "SUA_SHEET_ID",
        "range": "Memoria!A1",
        "columns": ["Telefone","Nome","Fase","Dados","Historico","Interesse"],
        "options": {}
      },
      "id": "create-lead",
      "name": "Cria registro",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepara os dados para o prompt - UNIFICADO (resposta + extração em 1 chamada)\nconst fase = $input.first().json.Fase || 'inicio';\nconst dados = $input.first().json.Dados || '{}';\nconst historico = $input.first().json.Historico || '';\nconst msg = $input.first().json.msg || $json.body?.messages?.[0]?.text?.body || '';\n\nreturn {\n  fase: fase,\n  dados: dados,\n  ultima_msg: msg,\n  historico: historico,\n  telefone: $input.first().json.Telefone\n};"
      },
      "id": "prepare-prompt",
      "name": "Prepara prompt (unificado)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3:8b"
            },
            {
              "name": "messages",
              "value": "[{\"role\":\"system\",\"content\":\"{{ $json.system_prompt }}\\n\\nIMPORTANTE: SEMPRE responda saudações simples como 'oi', 'olá', 'bom dia' com uma saudação amigável e pergunte o nome/ramo. NUNCA diga 'Desculpe, estou passando por uma instabilidade'.\"},{\"role\":\"user\",\"content\":\"Fase:{{ $json.fase }}. Dados:{{ $json.dados }}. Histórico:{{ $json.historico }}. Última mensagem:{{ $json.ultima_msg }}\"}]"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "ollama-request",
      "name": "Ollama (resposta unificada)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "operation": "code",
        "jsCode": "// Extrai dados da resposta da IA sem chamar Ollama novamente\nconst resposta = $json.message?.content || '';\n\nlet nome = null, ramo = null, interesse = 'medio', servico_interesse = null;\nlet objecao = null, pronto_pagamento = false, quer_humano = false;\n\n// Detecta padrões na resposta\nconst lower = resposta.toLowerCase();\n\nif (lower.includes('link') || lower.includes('pagamento') || lower.includes('comprar') || lower.includes('fechar')) {\n  pronto_pagamento = true;\n}\nif (lower.includes('humano') || lower.includes('atendente') || lower.includes('pessoa') || lower.includes('ligação')) {\n  quer_humano = true;\n}\nif (lower.includes('caro') || lower.includes('preço') || lower.includes('$$') || lower.includes('muito caro')) {\n  objecao = 'preço';\n} else if (lower.includes('pensar') || lower.includes('depois') || lower.includes('volto')) {\n  objecao = 'pensar';\n}\nif (lower.includes('site') || lower.includes('website')) servico_interesse = 'site';\nif (lower.includes('solo') || lower.includes('plano solo')) servico_interesse = 'saas_solo';\nif (lower.includes('equipe') || lower.includes('plano equipe')) servico_interesse = 'saas_equipe';\nif (lower.includes('corporativo') || lower.includes('plano corporativo')) servico_interesse = 'saas_corporativo';\n\n// Extrai nome do histórico (primeiro nome mencionado)\nconst historico = $json.historico || '';\nconst nomeMatch = historico.match(/nome[\\s\\:]+([A-ZÀ-Ú][a-zà-ú]+)/i);\nif (nomeMatch) nome = nomeMatch[1];\n\nreturn {\n  nome: nome,\n  ramo: ramo,\n  interesse: interesse,\n  servico_interesse: servico_interesse,\n  objecao: objecao,\n  pronto_pagamento: pronto_pagamento,\n  quer_humano: quer_humano,\n  resposta: resposta,\n  historico: $json.historico,\n  ultima_msg: $json.ultima_msg,\n  telefone: $json.telefone\n};"
      },
      "id": "extract-from-response",
      "name": "Extrai dados (local)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n// Atualiza estado - extrai dados do objeto retornado pelo nó anterior\nreturn {\n  fase: dados.pronto_pagamento ? 'pagamento' : (dados.quer_humano ? 'agendar' : 'qualificacao'),\n  dados: JSON.stringify({ nome: dados.nome, ramo: dados.ramo, necessidade: dados.servico_interesse, interesse: dados.interesse, objecao: dados.objecao }),\n  historico: (dados.historico || '') + '\\nCliente: ' + dados.ultima_msg + '\\nIA: ' + dados.resposta,\n  telefone: dados.telefone\n};"
      },
      "id": "update-state",
      "name": "Atualiza estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "sheetId": "SUA_SHEET_ID",
        "range": "Memoria!A:F",
        "lookupColumn": "Telefone",
        "value": "{{ $json.telefone }}",
        "columns": ["Fase","Dados","Historico"],
        "options": {}
      },
      "id": "update-sheet",
      "name": "Salva no Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fase }}",
              "operation": "equals",
              "value2": "pagamento"
            }
          ]
        }
      },
      "id": "if-pagamento",
      "name": "Pronto p/ pagamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/paymentLinks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "Site + IA"
            },
            {
              "name": "value",
              "value": 997
            },
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "chargeType",
              "value": "DETACHED"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "asaas-link",
      "name": "Gera link Asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/SUA_INSTANCIA",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "{{ $json.telefone }}"
            },
            {
              "name": "text",
              "value": "{{ $json.resposta + '\\n\\n✅ Link de pagamento: ' + $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-wpp",
      "name": "Envia resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 200]
    }
  ],
  "connections": {
    "Recebe msg WhatsApp": {
      "main": [[ { "node": "Busca estado lead", "type": "main", "index": 0 } ]]
    },
    "Busca estado lead": {
      "main": [[ { "node": "É novo lead?", "type": "main", "index": 0 } ]]
    },
    "É novo lead?": {
      "main": [
        [ { "node": "Prepara prompt (unificado)", "type": "main", "index": 0 } ],
        [ { "node": "Cria registro", "type": "main", "index": 0 } ]
      ]
    },
    "Cria registro": {
      "main": [[ { "node": "Prepara prompt (unificado)", "type": "main", "index": 0 } ]]
    },
    "Prepara prompt (unificado)": {
      "main": [[ { "node": "Ollama (resposta unificada)", "type": "main", "index": 0 } ]]
    },
    "Ollama (resposta unificada)": {
      "main": [[ { "node": "Extrai dados (local)", "type": "main", "index": 0 } ]]
    },
    "Extrai dados (local)": {
      "main": [[ { "node": "Atualiza estado", "type": "main", "index": 0 } ]]
    },
    "Atualiza estado": {
      "main": [[ { "node": "Salva no Sheets", "type": "main", "index": 0 } ]]
    },
    "Salva no Sheets": {
      "main": [[ { "node": "Pronto p/ pagamento?", "type": "main", "index": 0 } ]]
    },
    "Pronto p/ pagamento?": {
      "main": [
        [ { "node": "Gera link Asaas", "type": "main", "index": 0 } ],
        [ { "node": "Envia resposta", "type": "main", "index": 1 } ]
      ]
    },
    "Gera link Asaas": {
      "main": [[ { "node": "Envia resposta", "type": "main", "index": 0 } ]]
    }
  }
}
